{% extends "layout.html" %}

<link href="/static/styles.css" rel="stylesheet">

{% block body %}
    <h1 style="text-align: center;">Dictionary</h1>

    <h3 class="section">Word: </h3 class="section">
    <p class="section">{{ random_word[1] }}</p>
    <h3 class="section">Type: </h3 class="section">
    <p class="section">{{ random_word[2] }}</p>
    <h3 class="section">Definition: </h3 class="section">
    <p class="section">{{ random_word[4] }}</p>

    <a href="https://en.wiktionary.org/wiki/{{random_word[1]}}">More on Wikipedia</a>

{% endblock %}